<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net481" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net481" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net481" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net481" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net481" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net481" />
  <package id="OpenTK" version="3.3.3" targetFramework="net481" />
  <package id="OpenTK.GLControl" version="3.3.3" targetFramework="net481" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net481" />
</packages>